In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('library.db')

**A simple "select star" query:**

In [4]:
cursor = db.execute('SELECT * FROM Author')
cursor.fetchall()

[(1, 1, 'Edgar Allan Poe'),
 (2, 1, 'Mark Twain'),
 (3, 2, 'Jane Austen'),
 (4, 4, 'Arthur Conan Doyle'),
 (5, 3, 'Jorge Luis Borges')]

**A simple WHERE filter**

In [8]:
cursor = db.execute('SELECT * FROM Author where name = :author_name', {
    'author_name': 'Jane Austen'
})
cursor.fetchone()

(3, 2, 'Jane Austen')

**A more complicated WHERE filter**

We want to find all the books written by _Jane Austen_. For that, we need to first locate Jane's ID and then look up all the books written by her:

In [10]:
cursor = db.execute('SELECT * FROM Author where name = :author_name', {
    'author_name': 'Jane Austen'
})
author = cursor.fetchone()
if not author:
    print("Author not found")
else:
    print("Author: {}".format(author))

Author: (3, 2, 'Jane Austen')

In [11]:
id, country, name = author

In [13]:
cursor = db.execute('SELECT * FROM book where author_id = :author_id', {
    'author_id': id
})
cursor.fetchall()

[(1, 3, 'Pride & Prejudice', 'B1'), (3, 3, 'Emma', 'B3')]

**JOIN: Printing books and authors**

In [14]:
cursor = db.execute('SELECT b.title, a.name FROM book b JOIN author a ON (b.author_id = a.id)')
cursor.fetchall()

[('Pride & Prejudice', 'Jane Austen'),
 ('A Study in Scarlet', 'Arthur Conan Doyle'),
 ('Emma', 'Jane Austen')]

**Inserting new values**

In [15]:
cursor = db.execute('SELECT * FROM Author')
cursor.fetchall()

[(1, 1, 'Edgar Allan Poe'),
 (2, 1, 'Mark Twain'),
 (3, 2, 'Jane Austen'),
 (4, 4, 'Arthur Conan Doyle'),
 (5, 3, 'Jorge Luis Borges')]

In [16]:
cursor = db.execute("INSERT INTO book (author_id, title, isbn) VALUES (1, 'The Raven', 'B4');")

In [19]:
db.commit()

In [21]:
cursor = db.execute('SELECT * FROM book')
cursor.fetchall()

[(1, 3, 'Pride & Prejudice', 'B1'),
 (2, 4, 'A Study in Scarlet', 'B2'),
 (3, 3, 'Emma', 'B3'),
 (4, 1, 'The Raven', 'B4')]

**Inserting a new book, by author's name**

In [26]:
author_name = 'Jorge Luis Borges'
book_title = 'Ficciones'
isbn = 'B5'

In [25]:
cursor = db.execute('SELECT * FROM Author where name = :author_name', {
    'author_name': author_name
})
author = cursor.fetchone()
if not author:
    print("Author not found")
else:
    print("Author: {}".format(author))

Author: (5, 3, 'Jorge Luis Borges')

In [27]:
cursor = db.execute("""
    INSERT INTO book (author_id, title, isbn)
    VALUES (:author_id, :title, :isbn)
""", {
    'author_id': author[0],
    'title': book_title,
    'isbn': isbn
})

In [28]:
db.commit()

In [29]:
cursor = db.execute('SELECT * FROM book')
cursor.fetchall()

[(1, 3, 'Pride & Prejudice', 'B1'),
 (2, 4, 'A Study in Scarlet', 'B2'),
 (3, 3, 'Emma', 'B3'),
 (4, 1, 'The Raven', 'B4'),
 (5, 5, 'Ficciones', 'B5')]